
@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Fonts used */
  .madimi-one-regular {
    font-family: "Madimi One", sans-serif;
  }
  
  .m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
 
  .bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
  }

  .sans-serif {
    font-family: sans-serif;
  }

  body{
    font-family: "Bricolage Grotesque", sans-serif;
  }