
@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Fonts used */
  .madimi-one-regular {
    font-family: "Madimi One", sans-serif;
  }
  
  .m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
 
  .bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
  }

  .sans-serif {
    font-family: sans-serif;
  }

  body{
    font-family: "Bricolage Grotesque", sans-serif;
  }

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }